/* *::before,*,*::after
{
  box-sizing: border-box
}
body
{
  background-color:red;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
.container
{
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
  font-size:2rem;
  text-decoration: darkblue;
}
.product-grid
{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}
img,picture
{
  width: 100%;
  display:block;
}
.stacked
{
  display:grid;
}
.stacked>*
{
  grid-column: 1/2;
  grid-row: 1/2;
}
.card
{
  aspect-ratio: 1/1.5;
}
.card__title
{
  font-size:1.24rem;
}
.card-content
{
  background-color: white;
  align-self: end;
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}
.card__img
{
  width:100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media(min-width:40em)
{
   .container
   {
     grid:span2;
   }
}
.clock
{
  background-color: red;
}
.box
{
  justify-content: space-evenly;
  align-content: center;
  background-color: white;
  width: 100px;
  height: 100px;
} */
*,*::before,*::after
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container
{
    border:2px solid red;
    width:100%;
    height: 100%;
    background-color:blue;
    
}
:root{
  -dk-violet:hsl(268,75%,9%);
  -dk-text:hsl(177,92%,70%);
}

